{% extends './navbar.html' %}
{% block content %}
	<div class="container">
		<h1 class="display-3 text-center">{{ categorie }}</h1>
		<div class="d-flex flex-wrap justify-content-center">
			{% for instance in product_list %}
				<div class="card m-2" style="width: 18rem;">
					<img class="card-img-top" src="https://www.bretzelburgard.fr/snacking/649-large_default/coca-33cl.jpg" alt="Card image">
					<div class="card-body text-center">
						<h4 class="card-title">{{ instance.produit }}</h4>
						<p class="card-text">{{ instance.prix }} €</p>
						<a href="/{{ instance.categorie }}/{{ instance.produit }}" class="btn btn-primary">Add to  Cart</a>
						
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}